Repository DataDog/datadog-api-client-ruby, pull requests merged in 2020-12, with the labels that each got.

#115 Validate nullables
  .github/workflows/test.yml
  cassettes/spec/v1/api/downtimes_api_spec/DowntimesApi_create_and_update_downtime_works_correctly_with_nullables.yml
  spec/spec_helper.rb
  spec/v1/api/downtimes_api_spec.rb
Labels: changelog/no-changelog, dev/testing

#116 Release first beta
  .gitignore
  CHANGELOG.md
  RELEASING.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#120 start dev cycle
  RELEASING.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#124 Fix extraction script to handle additonal examples
  extract-code-blocks.awk
Labels: changelog/no-changelog

#127 Improve readme
  README.md
Labels: changelog/no-changelog, documentation
