Repository DataDog/datadog-api-client-ruby, pull requests merged in 2020-11, with the labels that each got.

#67 tests: use cucumber integration
  .azure-pipelines/all.yml
  Gemfile
  features/support/env.rb
  features/support/hooks.rb
Labels: changelog/no-changelog, dev/testing

#86 Extract examples
  .gitignore
  check-examples.sh
  extract-code-blocks.awk
  extract-code-blocks.sh
Labels: changelog/no-changelog, dev/tooling

#101 Fix cleanup of teams and services, and codecov report uploading
  .azure-pipelines/all.yml
  features/step_definitions/request.rb
Labels: changelog/no-changelog

#102 Fix coverage report
  features/support/env.rb
Labels: changelog/no-changelog
