Repository DataDog/datadog-api-client-ruby, pull requests merged in 2021-12, with the labels that each got.

#630 Prepare for v1.5.0 release
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#631 Start next dev cycle
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog

#637 Include test.codeowners in skipped tests
  features/support/hooks.rb
  run-tests.sh
Labels: dev/testing, changelog/no-changelog, ci/integrations

#646 Sleep after request if needed
  .github/workflows/test_integration.yml
  features/step_definitions/request.rb
Labels: changelog/no-changelog, ci/integrations

#654 Fix debug wording
  README.md
Labels: changelog/no-changelog, documentation

#664 tests: remove inspect
  features/step_definitions/request.rb
Labels: changelog/no-changelog
