Repository DataDog/datadog-api-client-ruby, pull requests merged in 2021-07, with the labels that each got.

#435 Bump datadog_api_client to 1.2.0
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#436 Bump version
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog

#439 Support latest cucumber release
  Gemfile
Labels: changelog/no-changelog

#449 Use latest ddtrace gem
  Gemfile
  features/support/env.rb
  spec/spec_helper.rb
Labels: changelog/no-changelog, ci/integrations
