Repository DataDog/datadog-api-client-ruby, pull requests merged in 2021-01, with the labels that each got.

#155 Always run integration-only scenarios
  run-tests.sh
Labels: changelog/no-changelog

#163 release 1.0.0.beta.2
  CHANGELOG.md
  RELEASING.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#164 start beta3 release cycle
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog

#178 tests: remove hardcoded service name
  features/support/env.rb
  spec/spec_helper.rb
Labels: changelog/no-changelog, dev/testing
