Repository DataDog/datadog-api-client-ruby, pull requests merged in 2022-01, with the labels that each got.

#675 Dont convert paths to snake case
  features/support/templating.rb
Labels: changelog/no-changelog

#694 Generate in repo
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: dev/tooling, changelog/no-changelog

#699 Update actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/approved_status.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog

#707 Prepare for v1.6.0 release
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#708 Start next dev cycle 1.6.1.dev.1
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog
