Repository DataDog/datadog-api-client-ruby, pull requests merged in 2022-08, with the labels that each got.

#1010 Configure Zeitwerk with absolute paths
  lib/datadog_api_client.rb
Labels: changelog/Fixed

#1012 Update readme and remove leftover file
  README.md
  lib/datadog_api_client/v2.rb
Labels: changelog/no-changelog, documentation, ci/integrations

#1002 Generate pagination examples
  .generator/conftest.py
  .generator/src/generator/templates/example.j2
  examples/v2/audit/ListAuditLogs_1275402458.rb
  examples/v2/audit/SearchAuditLogs_3215529662.rb
  examples/v2/events/ListEvents_1527584014.rb
  examples/v2/events/SearchEvents_3856995058.rb
  examples/v2/incidents/ListIncidents_2665616954.rb
  examples/v2/logs/ListLogsGet_738202670.rb
  examples/v2/logs/ListLogs_3138392594.rb
  examples/v2/processes/ListProcesses_797840471.rb
  examples/v2/rum/ListRUMEvents_2680821282.rb
  examples/v2/rum/SearchRUMEvents_574690310.rb
  examples/v2/security-monitoring/ListSecurityMonitoringSignals_3960412991.rb
  examples/v2/security-monitoring/SearchSecurityMonitoringSignals_1309350146.rb
Labels: changelog/no-changelog

#1018 Don't try to load model_base on eager_load
  lib/datadog_api_client.rb
Labels: changelog/Fixed

#1044 Fix example generation
  .generator/src/generator/formatter.py
  examples/v2/usage-metering/GetHourlyUsage.rb
Labels: changelog/no-changelog

#1047 Run integration test on pr with label `ci/integrations`
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog
