Repository DataDog/datadog-api-client-ruby, pull requests merged in 2022-03, with the labels that each got.

#777 Remove additional duplicate code and small cleanup
  .generator/src/generator/templates/model_base.j2
  .generator/src/generator/templates/model_oneof.j2
  .gitignore
  lib/datadog_api_client/v1/model_base.rb
  lib/datadog_api_client/v1/models/formula_and_function_query_definition.rb
  lib/datadog_api_client/v1/models/logs_processor.rb
  lib/datadog_api_client/v1/models/monitor_formula_and_function_query_definition.rb
  lib/datadog_api_client/v1/models/notebook_cell_response_attributes.rb
  lib/datadog_api_client/v1/models/notebook_cell_time.rb
  lib/datadog_api_client/v1/models/notebook_cell_update_request_attributes.rb
  lib/datadog_api_client/v1/models/notebook_global_time.rb
  lib/datadog_api_client/v1/models/notebook_update_cell.rb
  lib/datadog_api_client/v1/models/sunburst_widget_legend.rb
  lib/datadog_api_client/v1/models/synthetics_assertion.rb
  lib/datadog_api_client/v1/models/synthetics_basic_auth.rb
  lib/datadog_api_client/v1/models/widget_definition.rb
  lib/datadog_api_client/v2/model_base.rb
  lib/datadog_api_client/v2/models/api_key_response_included_item.rb
  lib/datadog_api_client/v2/models/application_key_response_included_item.rb
  lib/datadog_api_client/v2/models/auth_n_mapping_included.rb
  lib/datadog_api_client/v2/models/incident_field_attributes.rb
  lib/datadog_api_client/v2/models/incident_response_included_item.rb
  lib/datadog_api_client/v2/models/incident_service_included_items.rb
  lib/datadog_api_client/v2/models/incident_team_included_items.rb
  lib/datadog_api_client/v2/models/incident_timeline_cell_create_attributes.rb
  lib/datadog_api_client/v2/models/logs_aggregate_bucket_value.rb
  lib/datadog_api_client/v2/models/logs_archive_create_request_destination.rb
  lib/datadog_api_client/v2/models/logs_archive_destination.rb
  lib/datadog_api_client/v2/models/logs_group_by_missing.rb
  lib/datadog_api_client/v2/models/logs_group_by_total.rb
  lib/datadog_api_client/v2/models/metric_volumes.rb
  lib/datadog_api_client/v2/models/metrics_and_metric_tag_configurations.rb
  lib/datadog_api_client/v2/models/user_response_included_item.rb
Labels: changelog/no-changelog

#783 Use new `datadog-ci` standalone binary
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#789 Change path for `datadog-ci` standalone binary
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, ci/integrations

#807 Change test matrix
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  Gemfile
  LICENSE-3rdparty.csv
Labels: changelog/no-changelog

#813 Remove EOL ruby version support
  .github/workflows/test.yml
  .rubocop.yml
  README.md
Labels: changelog/no-changelog, documentation

#802 Delete openapi-generator config files
  .generator/config/v1.json
  .generator/config/v2.json
  .generator/src/generator/__main__.py
  .generator/src/generator/cli.py
  .generator/src/generator/formatter.py
  .generator/src/generator/openapi.py
  .generator/src/generator/templates/api.j2
  .generator/src/generator/templates/api_client.j2
  .generator/src/generator/templates/api_error.j2
  .generator/src/generator/templates/configuration.j2
  .generator/src/generator/templates/model.j2
  .generator/src/generator/templates/model_base.j2
  .generator/src/generator/templates/model_generic.j2
  .generator/src/generator/templates/model_oneof.j2
  .generator/src/generator/templates/package.j2
Labels: changelog/no-changelog

#825 Rename models and APIs with IdP, AuthNMapping, AuthN, and IoT
  .generator/src/generator/formatter.py
  .generator/src/generator/replacement.json
  features/step_definitions/request.rb
  features/support/templating.rb
  lib/datadog_api_client/v1.rb
  lib/datadog_api_client/v1/api/organizations_api.rb
  lib/datadog_api_client/v1/models/usage_iot_hour.rb
  lib/datadog_api_client/v1/models/usage_iot_response.rb
  lib/datadog_api_client/v2.rb
  lib/datadog_api_client/v2/api/authn_mappings_api.rb
  lib/datadog_api_client/v2/models/authn_mapping.rb
  lib/datadog_api_client/v2/models/authn_mapping_attributes.rb
  lib/datadog_api_client/v2/models/authn_mapping_create_attributes.rb
  lib/datadog_api_client/v2/models/authn_mapping_create_data.rb
  lib/datadog_api_client/v2/models/authn_mapping_create_relationships.rb
  lib/datadog_api_client/v2/models/authn_mapping_create_request.rb
  lib/datadog_api_client/v2/models/authn_mapping_included.rb
  lib/datadog_api_client/v2/models/authn_mapping_relationships.rb
  lib/datadog_api_client/v2/models/authn_mapping_response.rb
  lib/datadog_api_client/v2/models/authn_mapping_update_attributes.rb
  lib/datadog_api_client/v2/models/authn_mapping_update_data.rb
  lib/datadog_api_client/v2/models/authn_mapping_update_relationships.rb
  lib/datadog_api_client/v2/models/authn_mapping_update_request.rb
  lib/datadog_api_client/v2/models/authn_mappings_response.rb
  lib/datadog_api_client/v2/models/authn_mappings_sort.rb
  lib/datadog_api_client/v2/models/authn_mappings_type.rb
Labels: changelog/Fixed

#829 Fix template generating header parameters
  .generator/src/generator/templates/api.j2
Labels: changelog/no-changelog

#832 Fix oneOf object names
  .generator/src/generator/cli.py
  .generator/src/generator/templates/model_oneof.j2
  lib/datadog_api_client/v2/models/logs_aggregate_bucket_value.rb
  lib/datadog_api_client/v2/models/logs_group_by_missing.rb
  lib/datadog_api_client/v2/models/logs_group_by_total.rb
Labels: changelog/Fixed
