Repository DataDog/datadog-api-client-ruby, pull requests merged in 2022-02, with the labels that each got.

#718 Publish generated docs
  .github/workflows/docs.yml
  .gitignore
  Gemfile
  Rakefile
Labels: changelog/no-changelog

#721 Compress doc artifact
  .github/workflows/docs.yml
Labels: changelog/no-changelog

#724 Fix extract
  extract-code-blocks.sh
Labels: changelog/no-changelog

#725 Fix doc uncompress
  .github/workflows/docs.yml
Labels: changelog/no-changelog

#740 Remove unused models
  Makefile
  lib/datadog_api_client/v1/models/synthetics_error_code.rb
  lib/datadog_api_client/v2/models/security_monitoring_runtime_agent_rule.rb
Labels: changelog/no-changelog

#748 Automatize release process
  .github/release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  RELEASING.md
Labels: changelog/no-changelog, documentation

#749 fix typo in prepare_release
  .github/workflows/prepare_release.yml
Labels: changelog/no-changelog

#750 bundle install
  .github/workflows/prepare_release.yml
Labels: changelog/no-changelog

#754 Strip v from version
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  RELEASING.md
Labels: changelog/no-changelog, documentation

#759 Fix link to prepare release workflow
  RELEASING.md
Labels: changelog/no-changelog, documentation

#747 Bump ddtrace-1.0.0.beta1
  Gemfile
  features/support/env.rb
  features/support/hooks.rb
  spec/spec_helper.rb
Labels: changelog/no-changelog, ci/integrations

#761 Do not use v prefix in prepare release workflow
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  RELEASING.md
Labels: changelog/no-changelog, documentation

#766 Fix pre-commit generator hooks
  .pre-commit-config.yaml
  Makefile
  lib/datadog_api_client/v1/models/notebook_cell_create_request.rb
  lib/datadog_api_client/v1/models/notebook_cell_create_request_attributes.rb
  pyproject.toml
Labels: changelog/no-changelog

#765 Minor release tweak
  .github/workflows/prepare_release.yml
Labels: changelog/no-changelog
