Repository DataDog/datadog-api-client-ruby, pull requests merged in 2023-03, with the labels that each got.

#1264 Rename hash attribute
  .generator/src/generator/formatter.py
  lib/datadog_api_client/v1/models/application_key.rb
  lib/datadog_api_client/v2/models/rum_application_attributes.rb
  lib/datadog_api_client/v2/models/rum_application_list_attributes.rb
Labels: changelog/Fixed

#1285 Simplify content type parsing
  .generator/src/generator/templates/api_client.j2
  lib/datadog_api_client/api_client.rb
Labels: changelog/Security

#1289 Clarify readme example for how to send data to another site
  README.md
Labels: changelog/no-changelog

#1291 #1290 - Set the most recent Ruby for unit tests to 3.2.
  .github/workflows/test.yml
Labels: changelog/no-changelog

#1292 Handle dict keys with special characters
  .generator/src/generator/formatter.py
  examples/v2/service-definition/CreateOrUpdateServiceDefinitions.rb
Labels: changelog/no-changelog
