Repository DataDog/datadog-api-client-ruby, pull requests merged in 2024-09, with the labels that each got.

#1989 Update CHANGELOG.md
  CHANGELOG.md
Labels: changelog/no-changelog, documentation

#2002 Handle models with `v[0-9]` in name when loading them
  .generator/src/generator/templates/inflector.j2
  lib/datadog_api_client/inflector.rb
  spec/zeitwerk_spec.rb
Labels: changelog/Fixed

#1996 Set specific permissions on workflows.
  .github/workflows/approved_status.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, mergequeue-status: removed
