Repository DataDog/datadog-api-client-ruby, pull requests merged in 2025-05, with the labels that each got.

#2371 Revert "Release 2.33.0 (#2369)"
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#2372 Add new release workflow
  .github/workflows/publish.yml
Labels: changelog/no-changelog

#2375 Revert "Release 2.33.0 (#2374)"
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#2379 Add missing rake tasks
  Rakefile
Labels: changelog/no-changelog

#2380 Revert "Release 2.33.0 (#2377)"
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#2400 Bump ruby version for releases workflow
  .github/workflows/publish.yml
Labels: changelog/no-changelog

#2398 Fix api_instance name with a dash
  .generator/conftest.py
  examples/v2/on-call/CreateOnCallEscalationPolicy.rb
  examples/v2/on-call/CreateOnCallSchedule.rb
  examples/v2/on-call/DeleteOnCallEscalationPolicy.rb
  examples/v2/on-call/DeleteOnCallSchedule.rb
  examples/v2/on-call/GetOnCallEscalationPolicy.rb
  examples/v2/on-call/GetOnCallSchedule.rb
  examples/v2/on-call/GetOnCallTeamRoutingRules.rb
  examples/v2/on-call/SetOnCallTeamRoutingRules.rb
  examples/v2/on-call/UpdateOnCallEscalationPolicy.rb
  examples/v2/on-call/UpdateOnCallSchedule.rb
Labels: changelog/no-changelog, mergequeue-status: removed

#2407 Fix frozen string errors again, more durably this time
  .generator/src/generator/templates/configuration.j2
  lib/datadog_api_client/configuration.rb
Labels: changelog/Fixed

#2438 Use merge-commit sha
  .github/workflows/release.yml
Labels: changelog/no-changelog

#2439 Revert release and fix regex
  .github/workflows/publish.yml
  CHANGELOG.md
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#2441 Revert release and bump cucumber
  CHANGELOG.md
  Gemfile
  lib/datadog_api_client/version.rb
Labels: changelog/no-changelog, documentation

#2444 [AAWF-420] Fix pre-release
  .github/workflows/release.yml
Labels: changelog/no-changelog
